:root {
--slate-blue: #545CD1;      
--pale-yellow: #EAF094;     
--light-periwinkle: #9499D0; 
--soft-pink: #e696c6; 

--circle-size: 30px;
--animation-duration: 3s;
--delay-between: 1s;      
}


        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f5f5f5;
        }
        
      
        .circle-container {
            position: relative;
            width: 300px;
            height: 100px;
            margin: 0 auto;
            text-align: center;
        }
        
        .circle {
            position: absolute;
            top: 50%;
            width: var(--circle-size);
            height: var(--circle-size);
            background-color: var(--slate-blue);
            border-radius: 50%;
            transform: translateY(-50%);
            animation: scaleUp var(--animation-duration) ease-in-out infinite;
        }
        

        .circle:nth-child(1) {
            left: 30%;
            transform: translate(-50%, -50%);
            animation-delay: calc(0 * var(--delay-between));
        }
        
        .circle:nth-child(2) {
            left: 50%;
            transform: translate(-50%, -50%);
            animation-delay: calc(1 * var(--delay-between));
        }
        
        .circle:nth-child(3) {
            left: 70%;
            transform: translate(-50%, -50%);
            animation-delay: calc(2 * var(--delay-between));
        }
        
        @keyframes scaleUp {
            0%, 100% {
                transform: translate(-50%, -50%) scale(1);
            }
            50% {
                transform: translate(-50%, -50%) scale(1.25);
            }
        }